######          RENAME FILE TO .env         #####

SECRET_KEY='Django secret key. Can obtain in settings.py'

DB_NAME='Database name'
DB_USER='Database user name'
DB_PASSWORD='Database password'

CORS_ALLOWED_URL='Frontend URL with port'